---
---

@import "{{ site.theme }}";

h1{
    color: #000000;
}

h6{
    color: #000000;
}

.page-header{
    background-image: url('../../images/banner.png');
    background-color: #ffffff;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
}